@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu&display=swap');

$font-heading: "Playfair Display";
$font-text: "Square Peg";

body {
    background-color: #E1DFDE !important;
}


.wrapper {
    background: #E1DFDE !important;
}

.navbar {
    background-color: #E1DFDE !important;
}

.nav-sub {
    background-color: #E1DFDE !important;
}

.navbar-brand {
    color: #000000 !important;
    font-family: 'Playfair Display';
    font-size: 20px;
    transition: all 200ms ease-in-out;
}

.navbar-brand:hover {
    color: #fff !important;
}

.nav-link {
    color: #000000 !important;
    padding: 2em !important;
    font-family: 'Ubuntu';
    font-size: 20px;
    transition: all 200ms ease-in-out;
}

.nav-link:hover {
    color: #fff !important;
    text-decoration: underline !important;
}

.navbar-nav {
    float: right !important;
    margin: 0 auto;
}


span.navbar-toggler-icon {
    color: #fff !important;
}/* } CHANGE TOGGLE COLOUR */

section.home-page {
    height: 700px;
    color: #000000;
    
}

.col-6 {
    line-height: 1 !important;
    height: 700px;
}


h1 {
    color: #000000;
    font-family: 'Ubuntu';
    font-size: 10em !important;
    margin-top: 1em !important;
}


#build {
    font-size: 50px;
    font-family: "Ubuntu";
    font-weight: bold;
}

#info {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
}

#arrow {
    font-size: 10em;
    text-align: center;
    margin-top: 0.5em;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#arrow:hover {
    color: #fff;
}

#name {
    font-size: 3em;
}
