@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');


body {
    background-image: url(/images/background.jpg);
    background-size: cover;
}

h1 {
    display: block;
    padding-top: 1em;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #000000;
}

input {
    width: 600px;
    margin-left: 3em;
    height: 40px;
    background-color: rgb(173,177,182, 0.3);
    border-radius: 3px;
    border-color: transparent;
    font-size: 20px;
    font-family: 'Josefin Sans';
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.container {
    display: block;
    margin: 0 auto;
    margin-top: 11em;
    height: 650px;
    max-width: 900px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
}

.search-container {
    display: inline;
    text-align: center;
    
}


.search-form {
    display: inline;

}

.search-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 150px;
    font-family: 'Josefin Sans';
    margin-left: 1em;
    border-radius: 3px;
    border-color: transparent;
    background-color: #f1a38e;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-button:hover {
    opacity: 90%;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-left: 3em;
    margin-top: 1em;
    font-family: 'Josefin Sans';
    width: 800px;
}

.first-container {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
   
    border-radius: 3px;
    
}

.second-container {
    display: flex;
    justify-content: space-around;
    width: 380px;
    
  
}

#today {
    font-size: 35px;
    color: #000000;
    font-weight: bolder;
    margin: 0 auto;
    display: block;
    margin-top: 13px;
}

#sunrise,
#sunset {
    font-size: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 5em;
    color: #757575;
}


#current-day {
    color: #000000;
}
.numbers {
    color: #5a8e9c;
}

.date {
    font-size: 25px;
    color: #757575;
    display: block;
    margin-top: 0.7em;
}

.other-info {
    margin-top: 15px;
    font-size: 15px;
    color: #757575;
}

.weather {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    padding-top: 3em;
    text-align: center;
    font-family: 'Josefin Sans';
    font-weight: lighter;
    color: #757575;
}

.degrees {
    color:#f1a38e;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

img {
    margin: 0;
    width: 50px;
    height: 50px;
}

footer {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    color: #757575;
}

#name {
    color:#5a8e9c;
}

#github {
text-decoration: none;
color: #5a8e9c;
}