@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');


body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#city {
    display: block;
    padding-top: 1em;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #5a8e9c;;
}

#main-temp {
    padding-top: 0.5em;
    display: block;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 50px;
    color: #5a8e9c;
}


input {
    width: 600px;
    margin-left: 3em;
    height: 40px;
    background-color: rgb(242,247,253, 0.3);
    border-radius: 3px;
    border-color: transparent;
    font-size: 20px;
    font-family: 'Josefin Sans';
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.container {
    display: block;
    margin: 0 auto;
    margin-top: 8em;
    height: 680px;
    max-width: 900px;
    background-color: rgb(237,218,213, 0.2);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 12px;
}

.search-container {
    display: inline;
    text-align: center;
    
}


.search-form {
    display: inline;

}

.search-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 150px;
    font-family: 'Josefin Sans';
    margin-left: 1em;
    border-radius: 3px;
    border-color: transparent;
    background-color: #f1a38e;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.search-button:hover {
    opacity: 90%;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-left: 4.5em;
    margin-top: 1em;
    font-family: 'Josefin Sans';
    width: 780px;
    border-radius: 10px;

}

.first-container {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 3px;
    
}



.second-container {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.current-degrees {
    display: flex; 
    justify-content: space-between;
    font-size: 70px;
    margin-top: 0.5em;
    color: #5a8e9c;
}

.cel-fah {
    font-family: 'Josefin Sans';
    font-size: 18px;
}

#today {
    font-size: 30px;
    color: #5a8e9c;
    font-weight: bolder;
    margin: 0 auto;
    display: block;
    margin-top: 13px;
}

#sunrise,
#sunset {
    font-size: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 5em;
    color: #757575;
}


#current-day {
    color: #000000;
}
.numbers {
    color: #5a8e9c;
}

.date {
    font-size: 25px;
    color: #757575;
    display: block;
    margin-top: 0.7em;
}

.other-info {
    margin-top: 15px;
    font-size: 18px;
    color: #757575;
}

.weather {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    padding-top: 3em;
    text-align: center;
    font-family: 'Josefin Sans';
    font-weight: lighter;
    color: #757575;
}

.degrees {
    color: #555555;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

img {
    margin: 0;
    width: 80px;
    height: 80px;
}

#partly-cloudy {
    text-align: center;
    display: block;
    margin: 0 auto;
}

footer {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    color: #757575;
}

#name {
    color:#5a8e9c;
}

#github {
text-decoration: none;
color: #5a8e9c;
}